.my-page .swiper-pagination {
  bottom: 20px !important;
}

.my-page .swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  background: orange !important;
  margin: 0 5px !important;
}
