@tailwind base;
@tailwind components;
@tailwind utilities;

.my-page .swiper-pagination {
  bottom: 20px !important;
}

.my-page .swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  background: orange !important;
  margin: 0 5px !important;
}

.sm .swiper-pagination {
  bottom: 5px !important;
}

.sm .swiper-pagination-bullet {
  width: 5px !important;
  height: 5px !important;
  background: orange !important;
  margin: 0 5px !important;
}

.hidden-scroll {
  scrollbar-width: none;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}
