@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  background-color: #ff912b !important;
}
.swiper-pagination-bullet-active {
  background-color: #ff912b !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ff912b !important;
}

.swiper-pagination-custom {
  position: relative;
  bottom: -40px;
  text-align: center;
}
